*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: #F3F5F8;
}

a{
    color: #FE4902;
    text-decoration: none;
    font-size: 13px;
}

a:hover{
    opacity: 0.6;
}

.btn-primary{
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #FE4902;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.btn-primary:hover{
    background-color: #E54C10;
}

.btn-primary:disabled {
    background-color: #A0A0A0;
    color: #dbdbdb;
    cursor: not-allowed;
}

.btn-primary-outline{
    padding: 8px 15px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 2px #FE4902;
    color: #FE4902;
    font-weight: bold;
    font-size: 14px; 
}

.btn-primary-outline:hover{
    opacity: 0.6;
}

.btn-primary-outline.active{
    border: none;
    background-color: #FE4902!important;
    color: #fff;
}

.btn-circle-primary{
    width: 33px;
    height: 33px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: #FE4902;
}
.btn-circle-primary svg{
    margin-top: -2px;
}
.btn-circle-primary:hover{
    opacity: 0.6;
}

.s-title{
    font-size: 13px;
    color: #606060;
    font-weight: bold;
}

.custom-table{
    width: 100%;
}
.custom-table thead{
    height: 50px;
    color: #fff;
    background-color: #606060;
}

.custom-table thead tr{
    font-size: 14px;
}

.custom-table thead tr th{
    padding: 0 10px;
    text-align: center;
}

.custom-table tbody tr{
    height: 45px;
    font-size: 13px;
    border-top: solid 1px #ebebeb;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #F9F9F9
}

.custom-table tbody tr td{
    text-align: center;
}